h1 {
  pdding-left: 10px;
  padding-bottom: 50px;
}

h5 {
  padding-bottom: 10px;
}

.icon {
  max-width: 100px;
  max-height: 100px;
}

#shortReviews {
  text-align: center;
}

.img-wrapper {
  position: relative;
}

.img-responsive{
  width: 100%;
  height: auto;
  opacity: 0.7;
}

.img-overlay {
  position: absolute;
  top: 80%;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.text-overlay{
  position: absolute;
  display: block;
  top: 10%;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  background-color: white;
  width: 40%;
  height: 30%;
  border-radius: 5px;
}

.btn {
  width: 10%;
  height: 60%;
  background-color: #F33;
}

.btn:hover{
  background-color: grey;
}
